@media only screen and (max-width: 900px) {
  .artist-pic {
    width: 275px;
    height: auto;
  }
}
@media only screen and (max-width: 600px) {
  .artist-pic {
    width: 150px;
    height: auto;
  }
}

.header-menu-toggle {
  background: black;
  padding-right: 2rem;
}

.header-nav__close {
  background: black;
  padding-right: 0;
}
